@page "/leads"
@rendermode InteractiveServer

@using Facilitate.Libraries.Models;

@using System;
@using System.Net.Http;
@using System.Net.Http.Headers;
@using System.Text.Json;
@using System.Threading.Tasks;

@using Microsoft.AspNetCore.Builder;
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Components.Server;
@using Microsoft.AspNetCore.Mvc;

@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@using Amazon.Auth.AccessControlPolicy;
@using Newtonsoft.Json.Linq;

<script src="javascript/Facilitate-Scripts.js"></script> 

<PageTitle>New Leads</PageTitle>

<h1>New Leads</h1>

<p role="status">Leads: <span style="color: #1f6339; font-weight: bold;">@updateStatus</span></p>

@if (_leads == null)
{
        <p><em>Loading...</em></p>
}
else
{
        <table class="table">
            <thead>
                <tr>
                    <th>View</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Structs</th>
                    <th>SqFt</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var _lead in _leads)
            {
                <tr>
                    <td>
                                <a href="javascript: expandDetails('@_lead._id')">
                            <img src="images/Icons/Magnifying Glass.png" alt="Expand Lead Details" style="width: 20px !important; height: auto;" />
                        </a>
                    </td>
                    <td>New</td>
                    <td>@_lead.timestamp.ToString()</td>
                    <td>@_lead.firstName</td>
                    <td>@_lead.lastName</td>
                    <td>@_lead.email</td>
                    <td>@_lead.phone</td>
                    <td>@_lead.street</td>
                    <td>@_lead.city</td>
                    <td>@_lead.state</td>
                    <td>@_lead.zip</td>
                    <td>@_lead.numberOfStructures</td>
                    <td>@_lead.mainRoofTotalSquareFeet</td>
                </tr>
            }
            </tbody>
        </table>
}

<button class="btn btn-primary" @onclick="DeleteLeads">Delete Leads</button>


@code {

    private List<Quote>? _leads;

    public HttpClient serviceClient = new HttpClient
        {
            BaseAddress = new Uri("https://api.facilitate.org/"),
            // BaseAddress = new Uri("http://localhost"),
            Timeout = new TimeSpan(0, 2, 0)    // Standard two minute timeout on web service calls.
        };

    public string updateStatus = "Fetching...";

    public Leads()
    {
        var timer = new Timer(new TimerCallback(_ =>
        {
            FetchLeads();
            InvokeAsync(() =>
            {
                StateHasChanged();
            });
        }), null, 1000, 1000);
    }

    private void FetchLeads()
    {
        updateStatus = "Fetching...";

        var response = serviceClient.GetAsync("Quotes");

        var results = response.Result.Content.ReadAsStringAsync().Result;

        _leads = JsonConvert.DeserializeObject<List<Quote>>(results);

        updateStatus = _leads.Count().ToString();
    }

    private void DeleteLeads()
    {
        updateStatus = "Deleting...";

        // var response = serviceClient.DeleteAsync("Quotes");

        // updateStatus = "Deleted!";
    }
}