@page "/leads"

@using AdminBlazor.Data
@using DevExpress.Data
@using DevExpress.Data.Linq
@using Facilitate.Libraries.Models
@using MongoDB.Bson

@using Microsoft.AspNetCore.Mvc

@using Json.Net

@attribute [StreamRendering(true)]
@rendermode InteractiveServer
@inject WebServices WebServices

<PageTitle>Leads</PageTitle>
<h1>@updateStatus Leads <span id="update-status" class="@StatusClass">@RefreshStatus</span></h1>

<script>
  window.getIpAddress = () => {
    return fetch('https://jsonip.com/')
      .then((response) => response.json())
      .then((data) => {
        return data.ip
      })
  }
</script>

@if (quotes == null)
{
@*     <p><em>Loading...</em></p> *@
}
else
{
        <div>
            Select row to expand details. Click column headers to sort. Type and hit enter in any empty cell to search that column. 
            <br/><br/>
            If you have grouped columns below, drag and drop the column back into the grid header to restore. 
            <br/><br/>
        </div>

        <DxGrid 
            @ref="Grid"
            Data="@quotes" 
            KeyFieldName="_id"

            PageSize="10" 
            PagerPosition="GridPagerPosition.Bottom" 
            ShowGroupPanel="true"
            AutoExpandAllGroupRows="true"
            ShowFilterRow="true"
            CssClass="mw-1100"

            RowClick="OnRowClick"

            AllowSelectRowByClick="true"
            SelectionMode="GridSelectionMode.Single"

            @bind-SelectedDataItem="@SelectedDataItem"

            TextWrapEnabled="true"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="false"
            KeyboardNavigationEnabled="true">
            <Columns>
                <DxGridDataColumn Caption="Date" FieldName="timestamp" DisplayFormat="MM/dd/yyyy hh:mm:ss tt" SortIndex="0" SortOrder="GridColumnSortOrder.Descending" AllowSort="true" />
                <DxGridDataColumn Caption="First" FieldName="firstName" />
                <DxGridDataColumn Caption="Last" FieldName="lastName" />
@*                 <DxGridDataColumn Caption="Street" FieldName="street" /> *@
                <DxGridDataColumn Caption="City" FieldName="city" />
                <DxGridDataColumn Caption="State" FieldName="state" />
                <DxGridDataColumn Caption="Zip" FieldName="zip" />
                @* <DxGridDataColumn Caption="SqFt" TextAlignment="GridTextAlignment.Left" FieldName="totalSquareFeet" /> *@
            </Columns>

            <DetailRowTemplate>
            @{
                var _quote = (Quote)context.DataItem;

                <table>
                <tbody>
                    <tr>
                        <td colspan=3>
                            <h6>Homeowner</h6>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Name</label>
                            <span class="detail-item">@_quote.firstName @_quote.lastName</span>
                        </td>
                        <td>
                            <label>Email</label>
                            <a href="mailto:@_quote.email">
                                <span class="detail-item">@_quote.email</span>
                            </a>
                        </td>
                        <td>
                            <label>Phone</label>
                            <span class="detail-item">@_quote.phone</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Address</label>
                            <a href="https://www.google.com/maps/search/@_quote.street @_quote.city, @_quote.state @_quote.zip" target="_blank">
                                @_quote.street @_quote.city, @_quote.state @_quote.zip
                            </a>
                        </td>
                        <td>
                            <label>IP</label>
                            <a href="https://whatismyipaddress.com/ip/@SubmissionUserIP" target="_blank">
                                <span class="detail-item">@SubmissionUserIP</span>
                            </a>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
                </table>

                <div class="table-spacer" />

                <table>
                <tbody>
                    <tr>
                        <td colspan=3>
                            <h6>Project</h6>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Sqft</label>
                            <span class="detail-item">@_quote.totalSquareFeet.ToString("N0")</span>
                        </td>
                        <td>
                            <label>Roofs</label>
                            <span class="detail-item">@_quote.numberOfIncludedStructures</span>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label>Name</label>
                            <span class="detail-item">@_quote.structures[0].name</span>
                        </td>
                        <td>
                            <label>Complexity</label>
                            <span class="detail-item">@_quote.structures[0].roofComplexity</span>
                        </td>
                        <td>
                            <label>Slope</label>
                            <span class="detail-item">@_quote.structures[0].slope</span>
                        </td>
                    </tr>
                </tbody>
                </table>

                <div class="table-spacer" />

                <table>
                <tbody>
                    <tr>
                        <td colspan=3>
                            <h6>Products</h6>
                        </td>
                    </tr>
                        @{
                            for (var i = 0; i < @_quote.products.Count; i++)
                            {
                                currentItem = i + 1;

                                var priceLabel = @_quote.products[i].priceInfo.priceType;
                                if (priceLabel == "BasicFinancing")
                                {
                                    priceLabel = "Basic Financing";
                                }
                                else
                                {
                                    priceLabel = @_quote.products[i].priceInfo.priceType;
                                }

                                <tr>
                                    <td>
                                        <label>Name</label>
                                        <span class="detail-item">@_quote.products[i].name</span>
                                    </td>
                                    <td>
                                        <label>Waste Factor</label>
                                        <span class="detail-item">@_quote.products[i].wasteFactorMainRoof</span>
                                    </td>
                                    <td>
                                        <label>Price Type</label>
                                        <span class="detail-item">@priceLabel</span>                               
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label>Total Quote</label>
                                        <span class="detail-item">$@_quote.products[i].priceInfo.total.ToString("N0")</span>
                                    </td>
                                    <td>
                                        <label>Per Square</label>
                                        <span class="detail-item">$@_quote.products[i].priceInfo.pricePerSquare</span>
                                    </td>
                                    <td>
                                        <label>Monthly</label>
                                        <span class="detail-item">$@_quote.products[i].priceInfo.monthly</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label>APR</label>
                                        <span class="detail-item">@_quote.products[i].priceInfo.apr%</span>
                                    </td>
                                    <td>
                                        <label>Months</label>
                                        <span class="detail-item">@_quote.products[i].priceInfo.months</span>
                                    </td>
                                    <td></td>
                                </tr>
                            }
                        }
                </tbody>
                </table>

                <div class="table-spacer" />

                <table>
                <tbody>
                    <tr>
                        <td colspan=3>
                            <h6>Origin</h6>
                        </td>
                    </tr>

                        <tr>
                            <td>
                                <label>Market</label>
                                <span class="detail-item">@_quote.market</span>
                            </td>
                            <td>
                                <label>Rep Name</label>
                                <span class="detail-item">@_quote.repLead</span>
                            </td>
                            <td>
                                <label>Rep Email</label>
                                <a href="mailto:@_quote.repEmail">
                                    <span class="detail-item">@_quote.repEmail</span>
                                </a>
                            </td>
                        </tr>

                    <tr>
                        <td>
                            <label>RecId</label>
                            <span class="detail-item">@_quote._id</span>
                        </td>
                        <td>
                            <label>Referrer</label>
                            <a href="@_quote.externalUrl" target="_blank">
                                <span class="detail-item">@_quote.externalUrl</span>
                            </a>
                        </td>
                        <td>
                            <label>Session</label>
                            <span class="detail-item">@_quote.sessionId</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>RoofleId</label>
                            <span class="detail-item">@_quote.leadId</span>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>

                    </tr>
                </tbody>
                </table>

                <div class="table-spacer" />

                <table>
                <tbody>
                    <tr>
                        <td colspan="3">
                            <h6>History</h6>
                            <br />
                        </td>
                    </tr>

                    @{
                        var currentEventCount = 1;
                        for (int currentIndex = 0; currentIndex < @_quote.events.Count; currentIndex++)
                        {
                            <tr>
                                <td colspan="3">
                                    <div class="div-date-container">@currentEventCount. @_quote.events[currentIndex].DateTime</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @_quote.events[currentIndex].Details
                                </td>
                                <td>
                                    <label>Author</label>
                                    <span>@Author</span>
                                </td>
                                <td></td>
                            </tr>
                                
                            currentEventCount++;
                        }
                    }

                </tbody>
                </table>

                <div class="table-spacer" />

                <div class="quote-detail-controls-container">
                    <button class="btn btn-primary" @onclick="@(() => PopupVisibleAssign = true)">Assign</button>
                    <button class="btn btn-primary" @onclick="@(() => PopupVisibleArchive = true)">Archive</button>
                    <button class="btn btn-primary" @onclick="CloseDetails">Close</button>
                </div>

            }
            </DetailRowTemplate>

        </DxGrid>
}

<div class="@StatusContainerClass">
    <button class="@ButtonClass" disabled="@RefreshDisabled" @onclick="ToggleRefresh">@ButtonText</button>
    <button class="btn btn-primary" disabled="@CreateLeadDisabled" @onclick="CreateLead">Create 1 Lead</button>
    <button class="btn btn-primary" disabled="@CreateLeadsDisabled" @onclick="CreateLeads">Create @itemsToCreate Leads</button>
</div>

<DxLoadingPanel @bind-Visible=@LoadingPanelVisible
                PositionTarget="body"
                ApplyBackgroundShading="true"
                CssClass="w-100">
</DxLoadingPanel>

<DxPopup
    @bind-Visible="@PopupVisibleAssign"
    ShowFooter="true"
         HeaderText="Please select a Project Manager for assignment">
    <BodyContentTemplate>
        <div>
            <DxListBox 
                Data="@ProjectManagers" 
                @bind-Values="@Values"
                SelectedItemsChanged="@((IEnumerable<User> values) => SelectedProjectManagerChanged(values))"
                SelectionMode="ListBoxSelectionMode.Single"
                ShowCheckboxes="true">
                <Columns>
                    <DxListEditorColumn FieldName="Profile.FirstName" Caption="First" />
                    <DxListEditorColumn FieldName="Profile.LastName" Caption="Last" />
                    <DxListEditorColumn FieldName="Email" Caption="Email" />
                    <DxListEditorColumn FieldName="_id" Visible="false" Caption="Id" />
                </Columns>
            </DxListBox>
        </div>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Primary" Text="Save" Click="AssignLead" />
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Secondary" Text="Cancel" Click="@(() => PopupVisibleAssign = false)" />
    </FooterContentTemplate>
</DxPopup>

<DxPopup
    @bind-Visible="@PopupVisibleArchive"
    ShowFooter="true"
         HeaderText="Please type in a reason for Archival below">
    <BodyContentTemplate>
        <DxMemo @bind-Text="@ArchivalReason" InputId="archive-reason" CssClass="cw-320" />
    </BodyContentTemplate>
    <FooterContentTemplate>
        <DxButton SubmitFormOnClick="true" CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Primary" Text="Archive" Click="ArchiveLead" />
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Secondary" Text="Cancel" Click="@(() => PopupVisibleArchive = false)" />
    </FooterContentTemplate>
</DxPopup>


@code {

    bool LoadingPanelVisible { get; set; } = true;

    string Author { get; set; } = "Unknown";

    WebServices webServices = new WebServices();

    IEnumerable<string> Values { get; set; }

    IEnumerable<User> SelectedProjectManager { get; set; }

    [Parameter]
    public EventCallback<IEnumerable<User>> SelectedItemsChanged { get; set; }

    void SelectedProjectManagerChanged(IEnumerable<User> selectedProjectManager)
    {
        SelectedProjectManager = selectedProjectManager;
    }

    AdminBlazor.Data.MemberService memberService = new AdminBlazor.Data.MemberService();

    public List<User>? ProjectManagers;

    string ArchivalReason { get; set; } = "";

    public void EnableRefreshAndCreateControls(bool bEnable)
    {
        if(bEnable)
        {
            RefreshDisabled = false;
            ArchiveLeadsDisabled = false;
        }
        else
        {
            RefreshDisabled = true;
            CreateLeadDisabled = true;
            CreateLeadsDisabled = true;
            ArchiveLeadsDisabled = true;
        }
    }

    public void ArchiveLead()
    {
        Grid.CollapseDetailRow(selectedIndex);

        Note note = new Note();
        note.Summary = "Lead Archived";
        note.Details = note.Summary + " - " + @ArchivalReason;

        Quote quote = quotes[selectedIndex];
        quote.notes.Add(note);

        WebServices.DeleteQuote(selectedQuoteId);

        PopupVisibleArchive = false;

        ToggleRefresh();

        EnableRefreshAndCreateControls(true);
    }

    [Parameter]
    public bool SubmitFormOnClick { get; set; }

    bool PopupVisibleAssign { get; set; }
    bool PopupVisibleArchive { get; set; }

    [Inject] public IJSRuntime jsRuntime { get; set; }

    [Parameter]
    public string DisplayFormat { get; set; }

    public string ClientIP = "";
    public string selectedQuoteId = "";

    public async Task<string> GetIpAddress()
    {
        try
        {
            SubmissionUserIP = await jsRuntime.InvokeAsync<string>("getIpAddress").ConfigureAwait(true);

            return SubmissionUserIP;
        }
        catch (Exception e)
        {
            //If your request was blocked by CORS or some extension like uBlock Origin then you will get an exception.
            return string.Empty;
        }
    }

    [Parameter]
    public GridDetailRowDisplayMode DetailRowDisplayMode { get; set; }

    [Parameter]
    public string RefreshStatus { get; set; } = "";

    [Parameter]
    public string StatusContainerClass { get; set; } = "container-action-buttons-hide";

    [Parameter]
    public string StatusClass { get; set; } = "message-normal";

    [Parameter]
    public string ButtonText { get; set; } = "Pause Refresh";

    [Parameter]
    public string ButtonClass { get; set; } = "btn btn-outline-primary btn-refresh-active";

    [Parameter]
    public bool RefreshDisabled { get; set; } = true;

    [Parameter]
    public bool CreateLeadDisabled { get; set; } = true;

    [Parameter]
    public bool CreateLeadsDisabled { get; set; } = true;

    [Parameter]
    public bool ArchiveLeadsDisabled { get; set; } = true;

    [Parameter]
    public object SelectedDataItem { get; set; }

    [Parameter]
    public int VisibleIndex { get; set; }

    [Parameter]
    public bool ClearFilterButtonVisible { get; set; }

    IGrid Grid { get; set; }
    EntityInstantFeedbackSource InstantFeedbackSource { get; set; }

    public interface IQueryable : System.Collections.IEnumerable;

    public int currentItem = 0;
    public int selectedIndex = 0;

    public string SubmissionUserIP { get; set; }

    protected override void OnInitialized(){}

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            ProjectManagers = memberService.GetMembers(Constants.UserRoles.ProjectManager);
            RefreshTimer();
        }

        GetIpAddress();
    }

    void OnRowClick(GridRowClickEventArgs args)
    {
        selectedIndex = args.VisibleIndex;
        selectedQuoteId = quotes[selectedIndex]._id;

        var selectedDetailExpanded = Grid.IsDetailRowExpanded(selectedIndex);
        if (selectedDetailExpanded)
        {
            Grid.CollapseDetailRow(selectedIndex);
        }
        else
        {
            Grid.ExpandDetailRow(selectedIndex);
            ToggleRefresh();

            EnableRefreshAndCreateControls(false);
        }
    }

    public void CloseDetails()
    {
        Grid.CollapseDetailRow(selectedIndex);
        ToggleRefresh();

        EnableRefreshAndCreateControls(true);
    }

    public void AssignLead()
    {
        Grid.CollapseDetailRow(selectedIndex);

        quotes[selectedIndex].status = "Opportunity";

        var currProjectManager = SelectedProjectManager.ToList()[0];

        var pmEmail = currProjectManager.Profile.Contact.Email[0].UserName;
        pmEmail += "@" + currProjectManager.Profile.Contact.Email[0].Domain;

        var pmPhone = "(" + currProjectManager.Profile.Contact.Phone[0].AreaCode.ToString() + ")";
        pmPhone += " " + currProjectManager.Profile.Contact.Phone[0].Exchange.ToString();
        pmPhone += "-" + currProjectManager.Profile.Contact.Phone[0].Number.ToString();

        ProjectManagerSummary pmSummary = new ProjectManagerSummary();
        pmSummary._id = currProjectManager._id;
        pmSummary.Name = currProjectManager.Profile.FirstName + " " + currProjectManager.Profile.LastName;
        pmSummary.Email = pmEmail;
        pmSummary.Phone = pmPhone;
        pmSummary.City = currProjectManager.Profile.Contact.Address[0].City;
        pmSummary.State = currProjectManager.Profile.Contact.Address[0].State;
        pmSummary.Zip = currProjectManager.Profile.Contact.Address[0].ZipCode;

        quotes[selectedIndex].projectManager = pmSummary;

        // Add an attachment (Initial agreements or any other specified docs)
        Attachment attachment = new Attachment();
        attachment.MediaDescription = "Workflow and Subsequent Document Requirements";
        attachment.MediaUrl = "/docs/templates/agreements/FACILITATE - Workflow and Subsequent Document Requirements.pdf";

        quotes[selectedIndex].attachments.Add(attachment);

        Event docSentEvent = new Event(0, 0);
        docSentEvent.Details = attachment.MediaDescription + " sent to " + quotes[selectedIndex].email;
        quotes[selectedIndex].events.Add(docSentEvent);

        // Assignment event
        var projectManager = quotes[selectedIndex].projectManager;
        Event assignmentEvent = new Event(0, 0);
        assignmentEvent.Details = "Lead assigned to Project Manager Id: " + projectManager._id + " (" + projectManager.Name + "), moved to Opportunities and emailed to: " + projectManager.Email;
        quotes[selectedIndex].events.Add(assignmentEvent);

        // WebServices.AssignQuote(selectedQuoteId, quotes[selectedIndex]);
        WebServices.UpdateQuote(quotes[selectedIndex]);

        PopupVisibleAssign = false;

        ToggleRefresh();

        EnableRefreshAndCreateControls(true);
    }

    public virtual void ToggleRefresh()
    {
        if (ButtonText == "Pause Refresh")
        {
            CreateLeadDisabled = false;
            CreateLeadsDisabled = false;
            ArchiveLeadsDisabled = false;

            ButtonText = "Resume Refresh";
            ButtonClass = "btn btn-outline-primary btn-refresh-inactive";
            StatusClass = "message-warning";
            RefreshStatus = " Auto refresh paused...";

            _timer?.Dispose();
        }
        else
        {
            CreateLeadDisabled = true;
            CreateLeadsDisabled = true;
            ArchiveLeadsDisabled = true;

            StatusClass = "message-normal";
            RefreshStatus = "";
            ButtonText = "Pause Refresh";
            ButtonClass = "btn btn-outline-primary btn-refresh-active";

            RefreshTimer();
        }
    }

    private List<Quote>? quotes;

    public int itemsToCreate = 100;
    public string updateStatus = "Fetching ";

    bool isBulkInsert = false;

    public Timer _timer;

    public void Dispose()
    {
        _timer?.Dispose();           // because you need it here
    }

    private void RefreshTimer()
    {
        LoadingPanelVisible = true;

        _timer = new Timer(new TimerCallback(_ =>
        {
            quotes = webServices.GetQuotes("New");
            updateStatus = quotes.Count().ToString("N0");
            StatusContainerClass = "container-action-buttons-show";

            InvokeAsync(() =>
            {
                StateHasChanged();
            });
        }), null, 1000, 1000);

        LoadingPanelVisible = false; 
    }

    private void CreateLeads()
    {
        List<Quote> quotes = new List<Quote>();

        isBulkInsert = true;

        for (var i = 0; i < itemsToCreate; i++)
        {
            updateStatus = "Creating ";
            CreateLead();
        }

        ToggleRefresh();

        isBulkInsert = false;
    }

    private void ArchiveLeads()
    {
        updateStatus = "Deleting...";
    }

    #region Create 1 Lead
    private void CreateLead()
    {
        updateStatus = "Creating ";

        List<String> nameGenders = new List<string>();
        nameGenders.Add("male");
        nameGenders.Add("female");

        Quote quote = new Quote();
        quote.status = "New";

        quote.ipAddress = SubmissionUserIP;

        Utils utils = new Utils();

        var randomStreetNumber = utils.GetRandomStreetNumber();
        var randomStreetName = utils.GetRandomStreetName();

        var randomState = utils.GetRandomState();
        var stateName = randomState[0];
        var stateAbbr = randomState[1];
        var stateId = randomState[2];

        var randomCity = utils.GetRandomCity(MongoDB.Bson.ObjectId.Parse(stateId));

        string cityId = randomCity[0];
        string cityName = randomCity[1];
        string cityCountyId = randomCity[2];
        string cityTimeZoneId = randomCity[3];

        var randomZipCode = utils.GetRandomZipCode(MongoDB.Bson.ObjectId.Parse(cityId)).ToString();

        quote.address = randomStreetNumber + " " + randomStreetName + ", " + cityName + ", " + stateAbbr + " " + randomZipCode;
        quote.fullAddress = quote.address;
        quote.street = randomStreetNumber + " " + randomStreetName;
        quote.city = cityName;
        quote.state = stateAbbr;
        quote.zip = randomZipCode;

        Random rnd = new Random();
        int randomInt = rnd.Next(0, 1);

        quote.firstName = utils.GetRandomFirstName(nameGenders[randomInt]);
        quote.lastName = utils.GetRandomLastName();

        quote.email = quote.firstName.ToLower() + "@" + quote.lastName.ToLower() + ".com";
        quote.phone = "(" + utils.GetRandomAreaCode() + ") " + utils.GetRandomHomePhoneNumber();
        quote.market = quote.city + ", " + quote.state;
        quote.externalUrl = "https://app.roofle.com/dashboard";

        randomInt = rnd.Next(1, 3);
        quote.numberOfStructures = randomInt;
        quote.numberOfIncludedStructures = quote.numberOfStructures;

        randomInt = rnd.Next(1150, 5200);
        quote.totalSquareFeet = randomInt;
        quote.mainRoofTotalSquareFeet = randomInt;
        quote.totalInitialSquareFeet = randomInt;

        quote.sessionId = "nH9YvHwoBldl2ZkpQSWrX";

        // Add Product Info
        Product product = new Product();
        product.name = "Certainteed Landmark";
        product.id = 1;

        PriceInfo _priceInfo = new PriceInfo();
        _priceInfo.priceType = "BasicFinancing";

        randomInt = rnd.Next(15069, 15069);
        _priceInfo.total = randomInt;

        randomInt = rnd.Next(401, 401);
        _priceInfo.pricePerSquare = randomInt;

        randomInt = rnd.Next(250, 400);
        _priceInfo.monthly = randomInt;

        randomInt = rnd.Next(8, 26);
        _priceInfo.apr = randomInt;

        randomInt = rnd.Next(180, 180);
        _priceInfo.months = randomInt;

        product.priceInfo = _priceInfo;

        PriceRange _priceRange = new PriceRange();
        randomInt = rnd.Next(1150, 5200);
        _priceRange.totalMin = randomInt;

        randomInt = rnd.Next(16575, 16575);
        _priceRange.totalMax = randomInt;

        randomInt = rnd.Next(300, 300);
        _priceRange.monthlyMin = randomInt;

        randomInt = rnd.Next(367, 367);
        _priceRange.monthlyMax = randomInt;

        product.priceRange = _priceRange;

        product.wasteFactorMainRoof = 1.2;

        quote.products = null;
        quote.products = new List<Product>();
        quote.products.Add(product);

        randomInt = rnd.Next(0, 1);
        var repName = utils.GetRandomFirstName(nameGenders[randomInt]) + " " + utils.GetRandomLastName();

        quote.repLead = repName;
        quote.repEmail = repName.Replace(" ", ".").ToLower() + "@facilitate.org";

        randomInt = rnd.Next(5000, 9999);
        quote.leadId = randomInt;

        // Add Structure Info
        Structure structure = new Structure();
        structure.name = "Main Roof";
        structure.slope = "medium";
        structure.isIncluded = true;
        structure.squareFeet = quote.totalSquareFeet;
        structure.initialSquareFeet = quote.totalSquareFeet;
        structure.roofComplexity = "Simple";

        quote.structures = null;
        quote.structures = new List<Structure>();
        quote.structures.Add(structure);

        var deviceType = "Desktop";
        var latitude = 0;
        var longitude = 0;

        Event _event = new Event(0,0);
        _event.Name = "New Quote";
        _event.DateTime = DateTime.UtcNow;
        _event.Reference.ReferenceId = ObjectId.Parse(quote._id);
        _event.Reference.ReferenceType = 0;
        _event.Details = "New quote referred by Roofle";

        Location location = new Location(ObjectId.Parse(quote._id), deviceType, ClientIP, latitude, longitude);
        _event.Location = location;

        quote.events.Add(_event);

        var results = string.Empty;

        try
        {
            WebServices.CreateQuote(quote);
            results = "POSTED";
        }
        catch (Exception ex)
        {
            results = ex.Message;
        }
        finally
        {
            if (!isBulkInsert)
                ToggleRefresh();
        }
    }
    #endregion
}