@inherits LayoutComponentBase

@using Facilitate.Admin.Data;
@using Facilitate.Libraries.Models;

@inject WebServices WebServices
@inject QuoteLeaderboard leaderboardStats

@inject NavigationManager NavigationManager
@inject IHttpClientFactory ClientFactory
@inject HttpClient httpClient

<AuthorizeView>
    <Authorized>

        <div class="quotes-leaderboard-page-header">
            <div class="col-md-2 stat-element">
                <a href="/Quotes/Leads">
                    <img src="/images/logos/White Transparent.png" class="logo" />
                </a>
            </div>
            <div class="col-md-1 stat-element">
                &nbsp;
            </div>
            <div class="col-md-2 stat-element">
                <span class="stat-count"><b>@leaderboardStats.TotalQuoteCount.ToString("N0") Quotes</b></span>
                <span class="stat-count">@leaderboardStats.TotalQuoteValue.ToString("C0")</span>
                <span class="value-sqft-separator">&raquo;</span><span class="stat-count">@leaderboardStats.TotalQuoteSqFt.ToString("N0")sqft</span>
            </div>
            <div class="col-md-1 stat-element">
                <a href="/quotes/leads">Leads</a>
                <span class="stat-count"><b>@leaderboardStats.LeadCount.ToString("N0")</b></span>
            </div>
            <div class="col-md-1 stat-element">
                <a href="/quotes/opportunities">Opportunities</a>
                <span class="stat-count"><b>@leaderboardStats.OpportunityCount.ToString("N0")</b></span>
            </div>
            <div class="col-md-1 stat-element">
                <a href="/quotes/customers">Customers</a>
                <span class="stat-count"><b>@leaderboardStats.CustomerCount.ToString("N0")</b></span>
            </div>
            <div class="col-md-1 stat-element">
                <a href="/quotes/completed">Completions</a>
                <span class="stat-count"><b>@leaderboardStats.CompletionCount.ToString("N0")</b></span>
            </div>
            <div class="col-md-1 stat-element">
                <a href="/quotes/archives">Archives</a>
                <span class="stat-count"><b>@leaderboardStats.ArchiveCount.ToString("N0")</b></span>
            </div>
            <div class="col-md-1 stat-element">
                <a href="/quotes/warranties">Warranties</a>
                <span class="stat-count"><b>@leaderboardStats.WarrantyCount.ToString("N0")</b></span>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <CascadingValue Value="@leaderboardStats">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    private Timer statsTimer;

    protected async override void OnInitialized()
    {
        leaderboardStats = WebServices.GetLeaderBoardStats();
        //await RefreshTimer();
    }

    // public void Dispose()
    // {
    //     statsTimer?.Dispose();
    // }

    // private async Task RefreshTimer()
    // {
    //     statsTimer = new Timer(new TimerCallback(_ =>
    //     {
    //         leaderboardStats = WebServices.GetLeaderBoardStats();

    //         InvokeAsync(() =>
    //         {
    //             StateHasChanged();
    //         });
    //     }), null, 1000, 1000);
    // }
}