@inherits LayoutComponentBase

@using Facilitate.Admin.Data;
@using Facilitate.Libraries.Models;

@inject WebServices WebServices
@* @inject QuoteLeaderboard leaderboardStats *@

<AuthorizeView>
    <Authorized>
        <div class="quotes-leaderboard-page-header">
            <span class="summary-item">
            <span class="stat-count"><b>@leaderboardStats.TotalQuoteCount.ToString("N0") Quotes</b></span>
                <span class="stat-count">@leaderboardStats.TotalQuoteValue.ToString("C0")</span>
                <span class="stat-count"><span class="value-sqft-separator">&raquo;</span>@leaderboardStats.TotalQuoteSqFt.ToString("N0")sqft</span>
            </span>
            <span class="summary-item">
                <a href="/quotes/leads">Leads</a>
                <span class="stat-count"><b>@leaderboardStats.LeadCount.ToString("N0")</b></span>
                <span class="stat-count">@leaderboardStats.LeadValue.ToString("C0")</span>
            </span>
            <span class="summary-item">
                <a href="/quotes/opportunities">Opportunities</a>
                <span class="stat-count"><b>@leaderboardStats.OpportunityCount.ToString("N0")</b></span>
                <span class="stat-count">@leaderboardStats.OpportunityValue.ToString("C0")</span>
            </span>
            <span class="summary-item">
                <a href="/quotes/customers">Customers</a>
                <span class="stat-count"><b>@leaderboardStats.CustomerCount.ToString("N0")</b></span>
                <span class="stat-count">@leaderboardStats.CustomerValue.ToString("C0")</span>
            </span>
            <span class="summary-item">
                <a href="/quotes/completed">Completions</a>
                <span class="stat-count"><b>@leaderboardStats.CompletionCount.ToString("N0")</b></span>
                <span class="stat-count">@leaderboardStats.CompletionValue.ToString("C0")</span>
            </span>
            <span class="summary-item">
                <a href="/quotes/archives">Archives</a>
                <span class="stat-count"><b>@leaderboardStats.ArchiveCount.ToString("N0")</b></span>
                <span class="stat-count">@leaderboardStats.ArchiveValue.ToString("C0")</span>
            </span>
            <span class="summary-item">
                <a href="/quotes/warranties">Warranties</a>
                <span class="stat-count"><b>@leaderboardStats.WarrantyCount.ToString("N0")</b></span>
                <span class="stat-count">@leaderboardStats.WarrantyValue.ToString("C0")</span>
            </span>
        </div>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    Timer statsTimer;
    QuoteLeaderboard leaderboardStats = new QuoteLeaderboard();

    protected async override void OnInitialized()
    {
        leaderboardStats = WebServices.GetLeaderBoardStats();
        await RefreshTimer();
    }

    public void Dispose()
    {
        // because you need it here
        statsTimer?.Dispose();
    }

    private async Task RefreshTimer()
    {
        statsTimer = new Timer(new TimerCallback(_ =>
        {
            leaderboardStats = WebServices.GetLeaderBoardStats();

            InvokeAsync(() =>
            {
                StateHasChanged();
            });
        }), null, 1000, 1000);
    }
}