@using AdminBlazor.Data
@using Facilitate.Libraries.Models;

@attribute [StreamRendering(true)]
@rendermode InteractiveServer
@inject WebServices WebServices

<div class="quotes-leaderboard">
    <span class="summary-item">
        <span class="stat-count"><b>@leaderboardStats.TotalQuoteCount.ToString("N0") Quotes</b></span>
        <span class="stat-count">@leaderboardStats.TotalQuoteValue.ToString("C0")</span>
        <span class="stat-count">(@leaderboardStats.TotalQuoteSqFt.ToString("N0") sqft)</span>
    </span>
    <span class="summary-item">
        <a href="/quotes/leads">Leads</a>
        <span class="stat-count"><b>@leaderboardStats.LeadCount.ToString("N0")</b></span>
        <span class="stat-count">@leaderboardStats.LeadValue.ToString("C0")</span>
    </span>
    <span class="summary-item">
        <a href="/quotes/Opportunities">Opportunities</a>
        <span class="stat-count"><b>@leaderboardStats.OpportunityCount.ToString("N0")</b></span>
        <span class="stat-count">@leaderboardStats.OpportunityValue.ToString("C0")</span>
    </span>
    <span class="summary-item">
        <a href="/quotes/Customers">Customers</a>
        <span class="stat-count"><b>@leaderboardStats.CustomerCount.ToString("N0")</b></span>
        <span class="stat-count">@leaderboardStats.CustomerValue.ToString("C0")</span>
    </span>
    <span class="summary-item">
        <a href="/quotes/Completed">Completions</a>
        <span class="stat-count"><b>@leaderboardStats.CompletionCount.ToString("N0")</b></span>
        <span class="stat-count">@leaderboardStats.CompletionValue.ToString("C0")</span>
    </span>
    <span class="summary-item">
        <a href="/quotes/Archives">Archives</a>
        <span class="stat-count"><b>@leaderboardStats.ArchiveCount.ToString("N0")</b></span>
        <span class="stat-count">@leaderboardStats.ArchiveValue.ToString("C0")</span>
    </span>
    <span class="summary-item">
        <a href="/quotes/Warranties">Warranties</a>
        <span class="stat-count"><b>@leaderboardStats.WarrantyCount.ToString("N0")</b></span>
        <span class="stat-count">@leaderboardStats.WarrantyValue.ToString("C0")</span>
    </span>
</div>

@code {
    public QuoteLeaderboard leaderboardStats;

    protected override void OnInitialized()
    {
        leaderboardStats = WebServices.GetLeaderBoardStats();
    }

    bool LoadingPanelVisible { get; set; } = true;

    public string updateStatus = "Refreshing";

    public Leaderboard()
    {
        var timer = new Timer(new TimerCallback(_ =>
        {
            leaderboardStats = WebServices.GetLeaderBoardStats();

            InvokeAsync(() =>
            {
                StateHasChanged();

                LoadingPanelVisible = false;
            });
        }), null, 1000, 1000);
    }

    private IEnumerable<Quote>? quotes;
}
