 @page "/Account/Users"

@using Facilitate.Admin.Data;
@using Facilitate.Libraries.Models;

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.AspNetCore.WebUtilities

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web

@using MongoDB.Bson;

@using System.Text.Json;

@using DevExpress.Blazor;
@using DevExpress.Data;
@using DevExpress.Data.Linq;

@attribute [StreamRendering(true)]
@rendermode InteractiveServer
@inject WebServices WebServices

@inject NavigationManager NavigationManager
@inject IHttpClientFactory ClientFactory
@inject HttpClient httpClient

@inject IdentityRedirectManager RedirectManager

@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager

@inject IEmailSender<ApplicationUser> EmailSender
@inject RoleManager<IdentityRole> roleManager

@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject ILogger<Register> Logger

<AuthorizeView>
    <Authorized></Authorized>
    <NotAuthorized>
        @{
            NavigationManager.NavigateTo("/Account/Login");
        }
    </NotAuthorized>
</AuthorizeView>

<PageTitle>Manage Users</PageTitle>

<h1>Manage Users</h1>

<div class="row">

    <DxGrid @ref="UserGrid"
            Data="ApplicationUserDetails"
            KeyFieldName="Id"
            PageSize="10"
            PagerPosition="GridPagerPosition.Bottom"
            ShowGroupPanel="false"
            AutoExpandAllGroupRows="false"
            ShowFilterRow="false"
            ValidationEnabled="false"
            CustomizeEditModel="Grid_CustomizeEditModel"
            EditModelSaving="Grid_EditModelSaving"
            DataItemDeleting="Grid_DataItemDeleting"
            PopupEditFormCssClass="mw-1100"
            EditMode="@CurrentEditMode"
            TextWrapEnabled="true"
            PagerNavigationMode="PagerNavigationMode.InputBox"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="false"
            KeyboardNavigationEnabled="true">

        <Columns>
            <DxGridDataColumn FieldName="Id" Visible="false" />
            <DxGridDataColumn FieldName="IsEnabled" />
            <DxGridDataColumn FieldName="LastName" />
            <DxGridDataColumn FieldName="FirstName" />
            <DxGridDataColumn FieldName="Phone" />
            <DxGridDataColumn FieldName="Email" />
            <DxGridDataColumn FieldName="Address1" />
            <DxGridDataColumn FieldName="Address2" Visible="false" />
            <DxGridDataColumn FieldName="City" />
            <DxGridDataColumn FieldName="State" />
            <DxGridDataColumn FieldName="Zip" />
            <DxGridDataColumn Width="175" FieldName="RegistrationDate" DisplayFormat="MM/dd/yyyy hh:mm tt" />
            <DxGridCommandColumn Width="150px" Caption="Actions" DeleteButtonVisible="false" />
        </Columns>

        <EditFormTemplate Context="EditFormContext">
@*             @{
                SelectedProjectManager = (ApplicationUser)EditFormContext.EditModel;
            }
 *@
            <DxFormLayout CssClass="w-100">

                <DxFormLayoutItem Caption="Enabled:" ColSpanMd="6">
                    @EditFormContext.GetEditor("IsEnabled")
                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="" ColSpanMd="6">
                    &nbsp;
                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="First Name:" ColSpanMd="6">
                    @EditFormContext.GetEditor("FirstName")
                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="Last Name:" ColSpanMd="6">
                        @EditFormContext.GetEditor("LastName")
                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="Phone:" ColSpanMd="6">
                    @EditFormContext.GetEditor("Phone")
                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="Email:" ColSpanMd="6">
                    @EditFormContext.GetEditor("Email")
                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="Address 1:" ColSpanMd="6">
                    @EditFormContext.GetEditor("Address1")
                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="Address 2:" ColSpanMd="6">
                    @EditFormContext.GetEditor("Address2")
                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="City:" ColSpanMd="6">
                    @EditFormContext.GetEditor("City")
                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="State:" ColSpanMd="6">
                    @EditFormContext.GetEditor("State")
                </DxFormLayoutItem>

                <DxFormLayoutItem Caption="Zip:" ColSpanMd="6">
                    @EditFormContext.GetEditor("Zip")
                </DxFormLayoutItem>

                <DxFormLayoutItem ColSpanMd="12">
                    <hr />
                    <h5>Roles</h5>

                    <div class="role-element">
                        <label>System Admin</label>
                        <input type="checkbox" name="System Admin" value="System Admin" />
                    </div>

                    <div class="role-element">
                        <label>Site Admin</label>
                        <input type="checkbox" name="Site Admin" value="Site Admin" />
                    </div>
                            
                    <div class="role-element">
                        <label>Group Admin</label>
                        <input type="checkbox" name="Group Admin" value="Group Admin" />
                    </div>
     
                    <div class="role-element">
                        <label>Project Manager</label>
                        <input type="checkbox" name="Project Manager" value="Project Manager" />
                    </div>

                    <div class="role-element">
                        <label>Vendor</label>
                        <input type="checkbox" name="Vendor" value="Vendor" />
                    </div>

                    <div class="role-element">
                        <label>Member</label>
                        <input type="checkbox" name="Member" value="Member" />
                    </div>

                    @{
                        foreach (var role in userRoles)
                        {
                            var roleName = role.Name;
                            var currentUser = SelectedProjectManager;

                        }
                    }

                </DxFormLayoutItem>

            </DxFormLayout>

        </EditFormTemplate>
    </DxGrid>

</div>

@code {

    IGrid UserGrid { get; set; }
    IGrid RolesGrid { get; set; }

    List<IdentityRole> userRoles = new List<IdentityRole>();
    List<ApplicationUserDetails> ApplicationUserDetails = new List<ApplicationUserDetails>();

    bool UsePopupEditForm { get; set; }

    GridEditMode CurrentEditMode { get { return UsePopupEditForm ? GridEditMode.PopupEditForm : GridEditMode.EditForm; } }
    TaskCompletionSource<bool> DataLoadedTcs { get; } = new(TaskCreationOptions.RunContinuationsAsynchronously);

    protected override async Task OnInitializedAsync()
    {
        DataLoadedTcs.TrySetResult(true);
        GetUserRoles();

        try
        {
            ProjectManagers = SortByLastNameUsingLinq(UserManager.Users.ToList());

            foreach (ApplicationUser adminUser in ProjectManagers)
            {
                ApplicationUserDetails userDetail = new ApplicationUserDetails();

                userDetail.AccessFailedCount = adminUser.AccessFailedCount;
                userDetail.Address1 = adminUser.Address1;
                userDetail.Address2 = adminUser.Address2;
                userDetail.City = adminUser.City;
                userDetail.Email = adminUser.Email;
                userDetail.FirstName = adminUser.FirstName;
                userDetail.Id = adminUser.Id;
                userDetail.IsEnabled = adminUser.IsEnabled;
                userDetail.LastName = adminUser.LastName;
                userDetail.LockoutEnabled = adminUser.LockoutEnabled;
                userDetail.LockoutEnd = adminUser.LockoutEnd;
                userDetail.Phone = adminUser.Phone;
                userDetail.ProfileImage = adminUser.ProfileImage;
                userDetail.RegistrationDate = adminUser.RegistrationDate;
                userDetail.State = adminUser.State;
                userDetail.Zip = adminUser.Zip;

                foreach (var role in userRoles)
                {
                    var isInRole = await UserManager.IsInRoleAsync(adminUser, role.Name);

                    string[] roles = new string[] { role.Name, isInRole.ToString() };

                    userDetail.Roles.Add(roles);
                }
                    
                ApplicationUserDetails.Add(userDetail);
            }
        }
        catch(Exception ex)
        {
            var errMsg = ex.Message;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await DataLoadedTcs.Task;

            UserGrid.CollapseAllDetailRows();
        }
    }

    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        var newUser = e.DataItem;
        var editUser = e.EditModel;

        if (e.IsNew)
        {
        }
    }

    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        ApplicationUser adminUser = (ApplicationUser)e.EditModel;

        var formattedPhone = adminUser.Phone.Replace("(", "").Replace(")", "").Replace("-", "").Replace(" ", "");

        var areaCode = formattedPhone.Substring(0, 3);
        var prefix = formattedPhone.Substring(3, 3);
        var lineNumber = formattedPhone.Substring(6, 4);

        adminUser.Phone = "(" + areaCode + ") " + prefix + "-" + lineNumber;

        try
        {
            if (e.IsNew)
            {
                var userPwd = "!Facilitate2024#";

                await UserStore.SetUserNameAsync(adminUser, adminUser.Email, CancellationToken.None);

                var emailStore = GetEmailStore();
                await emailStore.SetEmailAsync(adminUser, adminUser.Email, CancellationToken.None);

                var result = await UserManager.CreateAsync(adminUser, userPwd);
                if (!result.Succeeded)
                {
                    identityErrors = result.Errors;
                    return;
                }

                // Add user to userRoles
                await UserManager.AddToRoleAsync(adminUser, "System Admin");
                await UserManager.AddToRoleAsync(adminUser, "Site Admin");
                await UserManager.AddToRoleAsync(adminUser, "Group Admin");
                await UserManager.AddToRoleAsync(adminUser, "Project Manager");
                await UserManager.AddToRoleAsync(adminUser, "Vendor");
                await UserManager.AddToRoleAsync(adminUser, "Member");

                // Logger.LogInformation("User created a new account with password.");

                // var userId = await UserManager.GetUserIdAsync(adminUser);
                // var code = await UserManager.GenerateEmailConfirmationTokenAsync(adminUser);
                // code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));

            }
            else
            {
                var user = await UserManager.FindByIdAsync(adminUser.Id);

                user.IsEnabled = adminUser.IsEnabled;
                user.FirstName = adminUser.FirstName;
                user.LastName = adminUser.LastName;
                user.Phone = adminUser.Phone;
                user.Email = adminUser.Email;
                user.Address1 = adminUser.Address1;
                user.Address2 = adminUser.Address2;
                user.City = adminUser.City;
                user.State = adminUser.State;
                user.Zip = adminUser.Zip;

                var result = await UserManager.UpdateAsync(user);
                if (!result.Succeeded)
                {
                    identityErrors = result.Errors;
                    return;
                }
            }

            // Refresh PM list
            ProjectManagers = SortByLastNameUsingLinq(UserManager.Users.ToList());
        }
        catch (Exception ex)
        {
            var errMsg = ex.Message;
        }
    }

    public async Task Dispose()
    {
        DataLoadedTcs.TrySetCanceled();
    }

    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        ApplicationUser adminUser = (ApplicationUser)e.DataItem;

        var result = await UserManager.DeleteAsync(adminUser);
        if (!result.Succeeded)
        {
            identityErrors = result.Errors;
            return;
        }
    }

    IEnumerable<string> Values { get; set; }

    public List<ApplicationUser> ProjectManagers { get; set; }
    public ApplicationUser SelectedProjectManager { get; set; }

    private IEnumerable<IdentityError>? identityErrors;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

    protected override void OnInitialized()
    {
        ProjectManagers = SortByLastNameUsingLinq(UserManager.Users.ToList());
    }

    public List<ApplicationUser> SortByLastNameUsingLinq(List<ApplicationUser> originalList)
    {
        return originalList.OrderBy(x => x.LastName).ToList();
    }

    void SelectedProjectManagerChanged(ApplicationUser selectedProjectManager)
    {
        SelectedProjectManager = selectedProjectManager ?? throw new ArgumentNullException(nameof(selectedProjectManager));

        var tmpVal = "";
    }

    public async Task RegisterUser(EditContext editContext)
    {
        var user = CreateUser();

        user.FirstName = Input.FirstName;
        user.LastName = Input.LastName;

        var formattedPhone = Input.Phone.Replace("(", "").Replace(")", "").Replace("-", "").Replace(" ", "");

        var areaCode = formattedPhone.Substring(0, 3);
        var prefix = formattedPhone.Substring(3, 3);
        var lineNumber = formattedPhone.Substring(6, 4);

        user.Phone = "(" + areaCode + ") " + prefix + "-" + lineNumber;

        user.Address1 = Input.Address1;
        user.Address2 = Input.Address2;
        user.City = Input.City;
        user.State = Input.State;
        user.Zip = Input.Zip;

        user.ProfileImage = "/images/profiles/Facilitate Profile Logo.png";

        await UserStore.SetUserNameAsync(user, Input.Email, CancellationToken.None);

        var emailStore = GetEmailStore();
        await emailStore.SetEmailAsync(user, Input.Email, CancellationToken.None);

        var result = await UserManager.CreateAsync(user, Input.Password);
        if (!result.Succeeded)
        {
            identityErrors = result.Errors;
            return;
        }

        // Add user to userRoles
        await UserManager.AddToRoleAsync(user, "System Admin");
        await UserManager.AddToRoleAsync(user, "Site Admin");
        await UserManager.AddToRoleAsync(user, "Group Admin");
        await UserManager.AddToRoleAsync(user, "Project Manager");
        await UserManager.AddToRoleAsync(user, "Vendor");
        await UserManager.AddToRoleAsync(user, "Member");

        Logger.LogInformation("User created a new account with password.");

        var userId = await UserManager.GetUserIdAsync(user);
        var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));

        var callbackUrl = NavigationManager.GetUriWithQueryParameters(
            NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
            new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code, ["returnUrl"] = ReturnUrl });

        await EmailSender.SendConfirmationLinkAsync(user, Input.Email, HtmlEncoder.Default.Encode(callbackUrl));

        // if (UserManager.Options.SignIn.RequireConfirmedAccount)
        // {
        //     RedirectManager.RedirectTo(
        //         "Account/RegisterConfirmation",
        //         new() { ["email"] = Input.Email, ["returnUrl"] = ReturnUrl });
        // }

        // await SignInManager.SignInAsync(user, isPersistent: false);
        // RedirectManager.RedirectTo(ReturnUrl);

        //RedirectManager.RedirectTo("/Account/Users");

        //GetManagers();
    }

    private ApplicationUser CreateUser()
    {
        try
        {
            return Activator.CreateInstance<ApplicationUser>();
        }
        catch
        {
            throw new InvalidOperationException($"Can't create an instance of '{nameof(ApplicationUser)}'. " +
                $"Ensure that '{nameof(ApplicationUser)}' is not an abstract class and has a parameterless constructor.");
        }
    }

    public List<IdentityRole> GetUserRoles()
    {
        try
        {
            userRoles = roleManager.Roles.ToList();

        }
        catch (Exception ex)
        {
            throw ex;
        }

        return userRoles;
    }

    private IUserEmailStore<ApplicationUser> GetEmailStore()
    {
        if (!UserManager.SupportsUserEmail)
        {
            throw new NotSupportedException("The default UI requires a user store with email support.");
        }
        return (IUserEmailStore<ApplicationUser>)UserStore;
    }

    private sealed class InputModel
    {
        [Required]
        [Display(Name = "IsEnabled")]
        public bool IsEnabled { get; set; } = true;

        [Required]
        [Display(Name = "First")]
        public string FirstName { get; set; } = "";

        [Required]
        [Display(Name = "Last")]
        public string LastName { get; set; } = "";

        [Required]
        // [RegularExpression(@"^[0][1-9]([.][0-9][0-9]){4}", ErrorMessage = "Incorrect phone number !")]
        [DataType(DataType.PhoneNumber)]
        [Display(Name = "Phone")]
        public string Phone { get; set; } = "";

        [Required]
        [EmailAddress]
        [Display(Name = "Email")]
        public string Email { get; set; } = "";

        [Required]
        [Display(Name = "Street 1")]
        public string Address1 { get; set; } = "";

        [Display(Name = "Street 2")]
        public string Address2 { get; set; } = "";

        [Required]
        [Display(Name = "City")]
        public string City { get; set; } = "";

        [Required]
        [Display(Name = "State")]
        public string State { get; set; } = "";

        [Required]
        [Display(Name = "Zip")]
        public string Zip { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "Password")]
        public string Password { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";
    }
}
